{:deps true
 
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:entries [{{namespace}}.app]
                                 :init-fn {{namespace}}.app/init!}}}}
 
 :dev-http {8080 "public/"}}